asgiref==3.11.1
certifi==2026.5.20
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==3.4.7
crispy-bootstrap5==0.7
Django==4.2.7
django-crispy-forms==2.0
gunicorn==26.0.0
idna==3.16
msgpack==1.1.2
mysqlclient==2.2.0
packaging==26.2
python-decouple==3.8
redis==7.4.0
requests==2.31.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
